.c-1{
    font-size: xx-large;
    font-family: cursive;
    font-weight: bold;
    color: red;
    text-align: center;
    margin-top: 2%;
    /* justify-content: space-between; */
    padding-bottom: 40px;
}

body{
    background-color: whitesmoke;
}
.table {
    color: black;
}

.second-table{
    margin-left: 50px;
}
.first-table{
    margin-left: 50px;
}

.para{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-family: cursive;
    font-size: larger;
}