{% extends "base.html" %}

{% block link %}
  <link rel="stylesheet" href="../static/css/impact.css">
{% endblock link %}

{% block body %}
<h1 class="h1-impact">Impact of Covid-19</h1>
<article class="impact-text">
 1. <u>Public Health Crisis</u> : COVID-19 is a highly infectious respiratory disease caused by the novel coronavirus. The pandemic has caused a significant public health crisis around the world, with millions of people getting infected, and thousands of people dying every day.
 <br>
 <br>
 2. <u>Economic Disruption</u> : The pandemic has caused widespread economic disruption, with businesses and industries being forced to shut down due to lockdowns and social distancing measures. The global economy has been severely impacted, with millions of people losing their jobs or experiencing a reduction in income.
 <br>
 <br>
 3. <u>Social Isolation</u>: The pandemic has also caused social isolation and distancing, with people being advised to stay home and avoid unnecessary travel. This has led to a rise in mental health issues such as depression, anxiety, and stress.
 <br>
 <br>
 4. <u>Travel Restrictions</u> : Travel restrictions have been put in place around the world to prevent the spread of the virus. This has impacted the tourism industry, with many countries experiencing a decline in visitors and revenue.
 <br>
 <br>
 5. <u>Healthcare System Strain</u> : The pandemic has put a significant strain on healthcare systems worldwide. Hospitals have been overwhelmed with COVID-19 patients, and healthcare workers have been working tirelessly to care for the sick.
</article>
{% endblock body %}